/* UNIVERSAL SELECTOR */
.universalSelector::after  {
   content: 'Universal Selector';
}
.universalSelector:hover::after  {
   content: 'Learn more!';
}

/* ID SELECTOR */
.idSelector::after  {
   content: 'ID Selector';
}
.idSelector:hover::after  {
   content: 'Learn more!';
}